<!DOCTYPE html>
<html mlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<form th:action="@{/empleado/buscarReserva}" th:object="${reserva}" th:method="GET">
		<table style="margin: 0 auto;">
			<tr>
				<td>
					<label>Reserva:</label>
				</td>
				<td>
					<input type="text" id="marca" th:field="${reserva.numero}">
				</td>
			</tr>
		</table>
		<div style="text-align:center;">
			<input type="submit" value="Guardar">
		</div>
	</form>

</body>

</html>