<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">   
	<title>Document</title>
</head>

<body> 

	<form th:action=@{/reportes/buscarAutomovilVip} th:object="${reserva}" th:method="GET">
		<table class="table table-success table-striped-columns">
			<tbody>

				<tr>
					<td class=<label> Fecha (aaaa-mm):</label> </td>
					<td><input class="border border-info border-2" type="text" id="estado" th:field=${reserva.estado}>
					</td>
				</tr>


			</tbody>
		</table>
		<div style="text-align:center;">
			<input type="submit" value="Buscar">
		</div>
	</form>
</body>

</html>