<!DOCTYPE html>
<html lang="en">

<head>   
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">    <title>Document</title>
</head>

<body>   

	<body> 
		<table style="margin: 0 auto;">
			<thead>
				<tr>
					<h1 class="text-center">RESERVA</h1>
				</tr>
				<tr>
					<th>Numero</th>
					<th>Tarjeta</th>
					<th>FechaInicio</th>
					<th>Fechafinal</th>
					<th>ValorTotalPagar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="reserva:${reserva}">
					<td th:text="${reserva.numero}"></td>
					<td th:text="${reserva.tarjeta}"></td>
					<td th:text="${reserva.fechaInicio}"></td>
					<td th:text="${reserva.fechafinal}"></td>
					<td th:text="${reserva.valorTotalPagar}"></td>

				</tr>
			</tbody>
		</table>

		<table style="margin: 0 auto;">
			<thead>
				<tr>
					<h1 class="text-center">CLIENTE</h1>
				</tr>
				<tr>
					<th>Nombre</th>
					<th>Cedula</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente:${cliente}">
					<td th:text="${cliente.nombre}"></td>
					<td th:text="${cliente.cedula}"></td>
				</tr>
			</tbody>
		</table>

		<table style="margin: 0 auto;">
			<thead>
				<tr>
					<h1 class="text-center">VEHICULO</h1>
				</tr>
				<tr>
					<th>Placa</th>
					<th>Modelo</th>
					<th>valorDia</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="vehiculo:${vehiculo}">
					<td th:text="${vehiculo.placa}"></td>
					<td th:text="${vehiculo.modelo}"></td>
					<td th:text="${vehiculo.valorDia}"></td>

				</tr>
			</tbody>
		</table>
	</body>

</body>

</html>