<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">   
	<title>Document</title>
</head>

<body> 
	<table style="margin: 0 auto;">
		<thead>
			<tr>
				<th>Marca</th>
				<th>Modelo</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="vehiculo:${vehiculomymdto}">
				<td th:text="${vehiculo.marca}"></td>
				<td th:text="${vehiculo.modelo}"></td>

			</tr>
		</tbody>
	</table>
	
	<form th:action="@{/clientes/buscarmm}" th:object="${vehiculo}" th:method="GET">
		<table style="margin: 0 auto;">
			<tr>
				<td>
					<label>Marca:</label>

				</td>
				<td>
					<input type="text" id="marca" th:field="${vehiculo.marca}">
				</td>
			</tr>

			<tr>
				<td>
					<label>Modelo:</label>

				</td>
				<td>
					<input type="text" id="modelo" th:field="${vehiculo.modelo}">
				</td>
			</tr>

		</table>

		<div style="text-align:center;">
			<input type="submit" value="Buscar">
		</div>
	</form>
</body>

</html>