<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">   
	<title>Document</title>
</head>

<body> 

	<form th:action=@{/reportes/buscarReservas} th:object="${reserva}" th:method="GET">
		<table class="table table-success table-striped-columns">
			<h1 class="text-center">RESERVAS</h1>
			<tbody>
				<tr>
					<td class=<label> Fecha de Inicio </label> </td>
					<td><input class="border border-info border-2" type="datetime-local" id="fechaInicio"
							th:field=${reserva.fechaInicio}></td>
				</tr>

				<tr>
					<td class=<label> Fecha de Fin </label> </td>
					<td><input class="border border-info border-2" type="datetime-local" id="fechafinal"
							th:field=${reserva.fechafinal}></td>
				</tr>


			</tbody>
		</table>
		<div style="text-align:center;">
			<input type="submit" value="Buscar">
		</div>
	</form>
</body>

</html>